
ROW_LIMIT = {{ default .Env.SUPERSET_ROW_LIMIT "5000" }}

SUPERSET_WORKERS = {{ default .Env.SUPERSET_WORKERS "1" }}
SUPERSET_WEBSERVER_PORT = {{ default .Env.SUPERSET_WEB_PORT "8088" }}

SECRET_KEY = '{{ .Env.SUPERSET_SECRET_KEY }}'

# URI of backend metadata DB
SQLALCHEMY_DATABASE_URI = '{{ .Env.SUPERSET_SQLALCHEMY_DATABASE_URI }}'


CACHE_TYPE = '{{ default .Env.SUPERSET_CACHE_TYPE "simple" }}'
CACHE_DEFAULT_TIMEOUT = {{ default .Env.SUPERSET_CACHE_DEFAULT_TIMEOUT "600" }}

CACHE_THRESHOLD = {{ default .Env.SUPERSET_CACHE_THRESHOLD "1000" }}
CACHE_DIR = '{{ default .Env.SUPERSET_CACHE_DIR "/home/superset/cache" }}'
CACHE_REDIS_URL = '{{ default .Env.SUPERSET_CACHE_REDIS_URL "" }}'
CACHE_KEY_PREFIX = '{{ default .Env.SUPERSET_CACHE_KEY_RREFIX "superset" }}'
CACHE_MEMCACHED_SERVERS = ['{{ default .Env.SUPERSET_CACHE_MEMCACHED_SERVERS "" }}']

CACHE_CONFIG = {
    'CACHE_TYPE': CACHE_TYPE,
    'CACHE_DEFAULT_TIMEOUT': CACHE_DEFAULT_TIMEOUT,
    'CACHE_THRESHOLD': CACHE_THRESHOLD,
    'CACHE_DIR': CACHE_DIR,
    'CACHE_REDIS_URL': CACHE_REDIS_URL,
    'CACHE_MEMCACHED_SERVERS': CACHE_MEMCACHED_SERVERS,
    'CACHE_KEY_PREFIX': CACHE_KEY_PREFIX
}
